.d_table {
	display: table;
}

.d_t-row {
	display: table-row;
}

.d_t-cell {
	display: table-cell;
}

.d_none {
	display: none;
}

.d_hidden {
	display: hidden;
}

.d_i-block {
	display: inline-block;
}
